*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F1;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
}

body{
    color: var(--text-color-primary);
    background-color: var(--bg-color);
    font-family: var(--font-family);
    max-width: 1280px;
    margin-inline: auto;
}

a{
    text-decoration: none;
    color: var(--text-color-primary);
}

a:hover{
    color: var(--brand-color-light);
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

main{
    margin-top: 40px;
}