header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    line-height: 140%;
    margin-block: 20px;
    margin-inline: 32px;
}

#menu{
    display: flex;
    align-items: center;

    img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }
}

#buscar {
    display: flex;
    align-items: center;
    
    img{
    width: 18px;
    height: 18px;
    margin-left: 8px;
    }
}

#logo{
    width: 160px;
    height: 32px;
}

nav{
    border: 1px solid var(--stroke-color);
    border-inline: none;
    padding-block: 14px;
    padding-inline: 32px;
    font-family: var(--span);
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
